---
import * as post from "../../.contents/cv.md";
import ContentWrapper from "../components/ui/ContentWrapper.svelte";
import Markdown from "../components/ui/Markdown.svelte";
import Layout from "../layouts/Layout.astro";

const { frontmatter, Content } = post;
---

<Layout title="About" noindex>
  <article>
    <ContentWrapper>
      <div class="about">
        <h1>About</h1>
        {
          !!Object.keys(frontmatter).length && (
            <table>
              <caption>Frontmatter</caption>
              <tbody>
                {Object.entries(frontmatter).map(([key, value]) => (
                  <tr>
                    <th>{key.toUpperCase()}</th>
                    <td>{value}</td>
                  </tr>
                ))}
              </tbody>
            </table>
          )
        }
        <Markdown>
          <Content />
        </Markdown>
      </div>
    </ContentWrapper>
  </article>
</Layout>

<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  table {
    margin: 0;
    border-collapse: collapse;
  }

  caption {
    color: rgb(var(--color-lightgray));
    font-size: 1rem;
    padding: 0.5rem 0;
  }

  th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
  }

  td {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
  }
</style>
