---
import { format } from 'date-fns'
import ja from 'date-fns/locale/ja/index.js'
import matter from 'gray-matter'

// import * as post from '../../.contents/cv.md'
import { getRepoRawContent } from '../utils/github/getRepoRawContent'
import { getAge } from '../utils/getAge'
import Layout from '../layouts/Layout.astro'
import ContentWrapper from '../components/ui/ContentWrapper.svelte'
import Markdown from '../components/ui/Markdown.svelte'
import { parseMarkdown } from '../utils/markdown'

// const { frontmatter, compiledContent } = post
const today = format(new Date(), 'yyyy年MM月dd日', { locale: ja });
const token = import.meta.env.GITHUB_TOKEN
const rawContent = await getRepoRawContent(
  token,
  'oriverk',
  'oriverk-docs',
  'cv/index.md'
)
const { content, data: frontmatter } = matter(rawContent)
const markdown = content
  .replace("{{ age }}", getAge('1993-09-11').toString())
  .replace("{{ date }}", today);
const html = parseMarkdown(markdown);
// const html = compiledContent()
//   .replace("{{ age }}", getAge('1993-09-11').toString())
//   .replace("{{ date }}", today);
---

<Layout title="About" noindex>
  <article>
    <ContentWrapper>
      <div class="about">
        <h1>About</h1>
        {!!Object.keys(frontmatter).length && (
          <table>
            <caption>Frontmatter</caption>
            <tbody>
              {Object.entries(frontmatter).map(([key, value]) => (
                <tr>
                  <th>{key.toUpperCase()}</th>
                  <td>{value}</td>
                </tr>
              ))}
            </tbody>
          </table>
        )}
        <Markdown set:html={html} />
      </div>
    </ContentWrapper>
  </article>
</Layout>

<style lang="scss">
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  table {
    margin: 0;
    border-collapse: collapse;

    caption {
      color: rgb(var(--color-lightgray));
      font-size: 1rem;
      padding: 0.5rem 0;
    }

    th {
      padding: 0.25rem 0.5rem;
      border: 1px solid #ccc;
      text-align: left;
    }

    td {
      padding: 0.25rem 0.5rem;
      border: 1px solid #ccc;
    }
  }
</style>
