---
import RepositoryJson from '../../.contents/repository.json'
import FeedJson from '../../.contents/feed.json'

import type { PinnedItem } from '../types/github'
import type { FeedItem } from '../types/feed';
import { getFeedItems } from '../utils/feed'
import { getUserContent } from '../utils/github/getUserContent'
import Layout from '../layouts/Layout.astro'
import ContentWrapper from '../components/ui/ContentWrapper.svelte'
import Hero from '../components/Hero.svelte'
import RepositoryList from '../components/RepositoryList.svelte'
import FeedList from '../components/FeedList.svelte'

// const repositryItems: PinnedItem[] = RepositoryJson
//   .filter(repo => !repo.isFork)
const { pinnedItems } = await getUserContent()
const repositryItems: PinnedItem[] = pinnedItems.nodes
// const items: FeedItem[] = FeedJson;
const items: FeedItem[] = await getFeedItems();
---

<Layout title="Home">
  <section class='home-hero'>
    <ContentWrapper>
      <div class='hero'>
        <Hero />
      </div>
    </ContentWrapper>
  </section>
  <section class='home-github'>
    <ContentWrapper>
      <div class='github'>
        <h2>GitHub</h2>
        <div>
          <h3>Repository</h3>
          <RepositoryList repositryItems={repositryItems} />
        </div>
        <div>
          <h3>Contributions</h3>
          <p>COMING SOON...</p>
        </div>
      </div>
    </ContentWrapper>
  </section>
  <section class='home-feed'>
    <ContentWrapper>
      <div class='feed'>
        <h2>Feed</h2>
        <FeedList items={items} displayItemsCount={12} />
      </div>
    </ContentWrapper>
  </section>
</Layout>

<style lang='scss'>
  .hero, .github, .feed {
    padding: 1rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero {
    min-height: calc(100vh - var(--header-height));
  }
  h3 {
    text-align: left;
  }
  .github > div {
    width: 100%;
  }
</style>