---
import AstroEmbed from "@/components/markdown/AstroEmbed.astro";

type Props = {
  href: string;
  target: string;
  rel: string;
  class: string;
  "data-embed": string;
};

const props = Astro.props;
---

{
  Object.hasOwn(props, "data-embed") ? (
    <AstroEmbed {...props} />
  ) : (
    <a {...props}>
      <slot />
    </a>
  )
}
