---
import type { FeedItem } from "../types/feed";
import FeedCard from "./FeedCard.astro";

interface Props {
  items: FeedItem[];
  displayItemsCount?: number;
}

const { items, displayItemsCount = 12 } = Astro.props;
---

<div class="feed-list">
  <ol class="grid">
    {items.slice(0, displayItemsCount).map(item => (
      <li>
        <FeedCard {...item} />
      </li>
    ))}
  </ol>
</div>

<style>
  .grid {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
  }

  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
