---
interface Props {
  tag: string;
  href?: string;
}
const { tag, href } = Astro.props;
---

{!!href ? (
  <a {href} class="tag">#{tag}</a>
): (
  <span class="tag">#{tag}</span>
)}

<style>
  .tag {
    color: gray;
    font-size: 1rem;
  }

  a.tag {
    text-decoration: none;

    &:hover {
      color: rgb(var(--color-miku));
      border-color: rgb(var(--color-miku));
    }
  }
</style>
