---
import Icon from "./ui/Icon.astro";
---

<button type="button" id="search-button">
  <div>
    <Icon type="magnifyingGlass" color="gray" />
    Search...
  </div>
</button>

<style is:global>
  #search-button .icon.magnifyingGlass::before {
    width: 1.5rem;
    height: 1.5rem;
  }
</style>

<style>
  #search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    & > div {
      display: flex;
      column-gap: 1rem;
      padding-inline: 1rem;
      align-items: center;
      color: lightgray;
      font-size: 1rem; 
      border-radius: 0.5rem; 
      height: 2.5rem; 
      text-align: left; 
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 100ms ease-in;

      &:hover {
        color: white;
        background-color: rgba(var(--color-hover));
      }
    }
  }
</style>

<script>
  const button = document.getElementById("search-button");
  let dialog: HTMLDialogElement | null
  button?.addEventListener('click', (e) => {
    dialog = document.getElementById("search-dialog") as HTMLDialogElement;    
    if(dialog.open){
      dialog.removeAttribute("open")
    } else {
      dialog.showModal();
    }
    console.log("is", dialog.open)
  })

  // @ts-ignore
  dialog.addEventListener("click", () => {
    if(dialog?.open){
      dialog.close()
    }
  })
  
</script>
