---
import OriverIcon from '../components/ui/icons/OriverIcon.svelte'
---

<nav>
  <a href="/" class="home">
    <OriverIcon className="icon" />
    <span class="sr-only">home</span>
  </a>
  <a href="/about" class="about">About me</a>
</nav>

<style is:global>
  .home .icon {
    width: 2rem;
    margin: 0.5rem;
    background-size: 100%;
    transition: background-size 600ms var(--cubic-bezier);
  }

  .home:hover .icon {
    background-size: 400%;
  }
</style>

<style>
  nav {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home {
    text-decoration: none;
  }

  .about {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(var(--color-white));
    text-decoration-color: transparent;
    transition: text-decoration-color 200ms var(--cubic-bezier);
  }

  .about {
    text-decoration-color: rgb(var(--color-miku));
  }
</style>
