---
import UserIcon from '../components/icons/UserIcon.svelte'
import PencilIcon from '../components/icons/PencilIcon.svelte'
---

<nav class="headerContent">
  <a href="/" class="title">
    <div>oriverk.dev</div>
    <span class="sr-only">Home</span>
  </a>
  <div class="links">
    <a href="/about" title="about">
      <UserIcon />
      <span class="sr-only">about</span>
    </a>
    <a href="/astro" title="blog">
      <PencilIcon />
      <span class="sr-only">blog</span>
    </a>
  </div>
</nav>

<style is:global>
  .links svg {
    width: 2rem;
    height: 2rem;
    color: rgb(var(--color-lightgray));
  }
</style>

<style lang="scss">
  .headerContent {
    padding: 0.5rem 0;
    margin-inline: auto;
    max-width: 60ch;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(var(--color-white));
    text-decoration-color: transparent;
    transition: text-decoration-color 100ms ease-in;

    &:hover {
      text-decoration-color: rgb(var(--color-miku));
    }
  }

  .links {
    display: flex;
    gap: 0.5rem;
  }

  .links > a {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in;
    background-color: rgba(0 0 0 / 0);

    &:hover {
      background-color: rgb(var(--color-hover));
    }
  }
</style>
