---
import HeaderSearch from "@/components/Search/SearchButton.svelte";
import Icon from "@/components/ui/Icon.svelte";
const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = (href: string) =>
  href === pathname || href === `/${subpath?.[0]}`;
---

<nav>
  <a href="/" class="home">
    <Icon type="oriver" size="medium" />
    <span class="sr-only">home</span>
  </a>
  <div class="header-right">
    <ul>
      <li>
        <HeaderSearch client:only="svelte" />
      </li>
      <li>
        <a href="/blog" class:list={[{acitve: isActive("/blog")}]}>Blog</a>
      </li>
      <li>
        <a href="https://oriverk.github.io/" target="_blank" rel="noopener noreferrer" title="GitHub Page">
          About
        </a>
      </li>
    </ul>
  </div>
</nav>

<style is:global>
  .home .icon.oriver::before {
    background-size: 100%;
    transition: background-size 600ms var(--cubic-bezier);
  }

  .home:hover .icon.oriver::before {
    background-size: 400%;
  }
</style>

<style>
  nav {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home {
    text-decoration: none;
    margin: 0.5rem;
  }

  .header-right > ul {
    display: flex;
    gap: 1rem;

    & > li {
      list-style: none;

      & > a {
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgb(var(--color-white));
        text-decoration-color: transparent;
        transition: text-decoration-color 300ms var(--cubic-bezier);

        &:hover {
          text-decoration-color: rgb(var(--color-miku));
        }
      }
    }
  }
</style>
