---
import Icon from "../components/ui/Icon.svelte";
---

<nav>
  <a href="/" class="home">
    <Icon type="oriver" size="medium" />
    <span class="sr-only">home</span>
  </a>
  <a href="/about" class="about">About me</a>
</nav>

<style is:global>
  .icon.oriver::before {
    background-size: 100%;
    transition: background-size 600ms var(--cubic-bezier);
  }

  .home:hover .icon.oriver::before {
    background-size: 400%;
  }
</style>

<style>
  nav {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home {
    text-decoration: none;
    margin: 0.5rem;
  }

  .about {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(var(--color-white));
    text-decoration-color: transparent;
    transition: text-decoration-color 200ms var(--cubic-bezier);
  }

  .about {
    text-decoration-color: rgb(var(--color-miku));
  }
</style>
